<div class="quiz-container">
  <%= form_with url: quiz_result_path, method: :post, html: { class: "form" } do %>

    <%= hidden_field_tag :return_to, @return_to %>

    <h3 class="question-text"><%= @question.content %></h3>

   <% if @question.image_url.present? %>
    <div class="question-image">
    <%= image_tag @question.image_url, alt: "Quiz Question Image", class: "quiz-image border border-warning-subtle rounded-7" %>
    </div>
    <% end %>


    <div class="answers-container">
      <% @question.quiz_answers.each do |answer| %>
        <label class="answer-option" for="answer_<%= answer.id %>">
          <%= radio_button_tag "quiz_answer_id", answer.id, false, id: "answer_#{answer.id}", class: "answer-radio" %>
          <%= answer.content %>
        </label>
      <% end %>
    </div>

    <%= hidden_field_tag :quiz_question_id, @question.id %>

    <%= submit_tag "SUBMIT", class: "submit-button" %>
  <% end %>
</div>
