<div class="cards-container">
  <% @paths.first(2).each_with_index do |path, index| %>
    <div class="trail-card">
      <% if index == 0 %>
        <%= image_tag "salty.svg", class: "card-image", alt: path.title %>
      <% else %>
        <%= image_tag "sweet.svg", class: "card-image", alt: path.title %>
      <% end %>

      <div class="stripe-top"></div>

      <%= simple_form_for [path, @journey] do |f| %>
        <div class="stripe-bottom">
          <% if index == 0 %>
            <%= f.submit "Salty Recipes", class: "stripe-button" %>
          <% else %>
            <%= f.submit "Sweet Recipes", class: "stripe-button" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
