<div class="world-container">
  <% @worlds.each do |world| %>
    <div class="world-card <%= 'locked' if world.locked? %>">
      <div class="element-2">
        <% unless world.locked? %>
          <%= link_to world_path(world), class: "world-title-link" do %>
            <span class="world-title"><%= world.title %></span>
          <% end %>
        <% else %>
          <span class="world-title locked-text"><%= world.title %></span>
        <% end %>

        <div class="lock-small">
          <% if world.locked? %>
            <i class="fas fa-lock"></i> <!-- Ícone de cadeado fechado -->
          <% else %>
            <i class="fas fa-lock-open"></i> <!-- Ícone de cadeado aberto -->
          <% end %>
        </div>
      </div>

      <span class="thin-band"></span>
      <div class="world-image">
       <%= image_tag world.image_for_world, alt: world.title %>
     </div>

    </div>
  <% end %>
</div>
