<div class="world-container">
  <% @worlds.each do |world| %>
    <div class="world-card <%= 'locked' if world.locked? %>">
      <div class="element-2">
        <% unless world.locked? %>
          <%= link_to world_path(world), class: "world-title-link" do %>
            <span class="world-title"><%= world.title %></span>
          <% end %>
        <% else %>
          <span class="world-title locked-text"><%= world.title %></span>
        <% end %>

        <div class="lock-small">
          <% if world.locked? %>
            <i class="fas fa-lock"></i> 
          <% else %>
            <% # Aqui é onde vamos verificar se as 5 reviews foram completadas %>
            <% completed_reviews = world.tasks.sum { |task| task.reviews.where(user: current_user).count } %>

<<<<<<< Updated upstream
            <% if completed_reviews >= 5 %>
              <i class="fas fa-star" style="color: #0FA3B1;"></i>
            <% else %>
              <i class="fas fa-lock-open" style="color: orange;"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="world-image">
        <% if world.icon_path.present? %>
          <%= image_tag world.icon_path, alt: world.title %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
=======
<%# index de world %>
<% @worlds.each do |world| %>
  <ul>
    <li><%= world.id %></li>
    <li><%= world.title %></li>
    <%= link_to "Play", world_path(world) %>
  </ul>
<% end %>

<%= link_to "Back to Paths", root_path %>

>>>>>>> Stashed changes
