<h1><%= @path.title %></h1>
<p><%= @path.description %></p>


<%# index de world %>
<% @worlds.each do |world| %>
  <ul>
    <li><%= world.id %></li>
    <li><%= world.title %></li>
    <%= link_to "Play", world_path(world) %>
  </ul>
<% end %>

<%= link_to "Back to Paths", root_path %>
<%= link_to "Delete", path_path(@path), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
