

<!----novo ranking ------>

<div class="table-title">Your numbers</div>

<table class="ranking">
  <thead>

  </thead>

  <tbody class="ranking">
    <tr class="ranking">
      <td>Recipes</td>
      <td class="user-info">
        <%= image_tag(current_user.avatar.presence || "default_avatar.svg", class: "avatar") %>
        <span class="user-email"><%= current_user.username %></span>
      </td>
      <td><%= current_user.reviews.count %></td>
    </tr>
  </tbody>
</table>


<table class="ranking">
  <thead>

  </thead>

  <tbody class="ranking">
    <tr class="ranking">
      <td>Badges</td>
      <td class="user-info">
        <%= image_tag(current_user.avatar.presence || "default_avatar.svg", class: "avatar") %>
        <span class="user-email"><%= current_user.username %></span>
      </td>
      <td><%= badge_count_for(current_user) %></td>
    </tr>
  </tbody>
</table>



<!-- Recipes Ranking Title OUTSIDE the table -->
<div class="table-title">Recipes Ranking</div>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Recipes</th>
    </tr>
  </thead>

  <tbody class="tbody">
    <% @users.each_with_index do |user, index| %>
      <tr class="<%= rank_class_for(index) %>">
        <td><%= index + 1 %></td>
        <td class="user-info">
          <%= image_tag(user.avatar.presence || "default_avatar.svg", class: "avatar") %>
          <span class="user-email"><%= user.username %></span>
        </td>
        <td><%= user.reviews.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="table-title">Badges Ranking</div>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Badges</th>
    </tr>
  </thead>

  <tbody class="tbody">
    <% @users_badges_ranking.each_with_index do |user, index| %>
      <tr class="<%= rank_class_for(index) %>">
        <td><%= index + 1 %></td>
        <td class="user-info">
          <%= image_tag(user.avatar.presence || "default_avatar.svg", class: "avatar") %>
          <span class="user-email"><%= user.username %></span>
        </td>
        <td><%= badge_count_for(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="btn-space"></div>
