<div class="main-show-profile-container"></div>
  <div class="show-profile-container">

      <% if current_user.avatar.present? %>
        <%= image_tag(current_user.avatar, alt: 'Avatar', class: 'profile-avatar') %>
      <% else %>
        <%= image_tag(asset_path('default_avatar.svg'), alt: 'Default Avatar', class: 'profile-avatar') %>
      <% end %>



      Profile de <%= current_user.username %>


      <% @badges.each do |world_id, reviews| %>
          <% if reviews == 5 %>
          <%= image_tag asset_path(World.find(world_id).image_path), alt: "Le Wagon", width: 200 %>
          <% end %>
      <% end %>



      <ul>
        <% current_user.paths.each do |path| %>
          <li><%= path.title %></li>
        <% end %>
      </ul>

      <div class="profile-actions">
        <%= link_to "Profile Edit", edit_user_registration_path, class: "edit-profile-button" %></div>
    </div>
