  <!-- Imagem do prato -->
  <div class="image-container">
    <%= image_tag @task.image_url, class: "dish-image" %>
  </div>

  <!-- Chef Ilustração -->
      <div class="svg-container">
        <div class="chef-icon">
          <%= image_tag "chef_pasta.svg", class: "chef-image" %>
        </div>

    <!-- Detalhes da Receita -->
        <div class="recipe-details">
          <div class="txt-container">
            <p>Recipe Name</p>
            <h5 class="recipe-title"><%= @task.title %></h5>
            <br>
            <p>Estimated Time</p>
            <h5 class="time"><%= @task.time %></h5>
          </div>
        </div>
      </div>


  <!-- Ingredientes -->
  <div class="ingredients">
    <h3 class="bold">Ingredients</h3>
    <ul class="ingredients-list">
<%# TODO implementar a lógica de ingredients %>
      <% @ingredients.each do |ingredient| %>
          <li class="task-list even"><%= ingredient.name %></li>
          <li class="task-list odd"><%= ingredient.quantity %></li>
      <% end %>

    </ul>
  </div>

  <!-- Modo de Preparo -->
  <div class="how-to">
    <h3 class="bold">Recipe Steps</h3>
    <ul class="steps-list">
<%# TODO implementar a lógica de step %>
      <% @task.steps.each do |t| %>
        <li class="task-list"> - <%= t %></li>
      <% end %>

    </ul>
  </div>

<!-- app/views/tasks/show.html.erb -->

  <!-- Botão Trivia Game -->
  <%= link_to "🎮 Play Game", quiz_path(return_to: task_path(@task)), class: "button" %>
  <!-- Botão Completar -->
  <div class="complete-btn">
    <%= simple_form_for [@task, @review], data: {turbo: false} do |f| %>
      <%= f.submit "Complete", class: "button" %>
    <% end %>
  </div>
  <div data-controller="sound">
    <button data-action="click->sound#play">Reproduzir Som</button>
    <audio data-sound-target="audio" src="<%= asset_path("beep.mp3") %>"></audio>
  </div>
  <div class="btn-space"></div>

  <!-- ChatBot ChefIA -->

  <div id="chatbot-questions">
    <%# <%= render @chatbot_questions %> %>
  </div>

  <%= render "chatbot_questions/form", chatbot_question: @chatbot_question %>
