<div class="background">
  <p class="close">
    <%= link_to "X", world_path(@review.task.world), class: "close" %>
  </p>
  <div class="end-card">
    <h3 class="message">CONGRATULATIONS</h3>
    <div class="image-container">
      <%= image_tag "chef_egg.svg", class: "chef-image" %>
    </div>
    <div class="container review">
      <div class="complete-btn">
        <%= simple_form_for @review, data: { turbo: false } do |f| %>
          <%= f.input :feedback %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Complete", class: "button" %>
        <% end %>
      </div>
    </div>
    <h4 class="bttn-message">Task completed!<br>Ready for the next challenge?</h4>
  </div>
</div>
