<div class="background">
  <p class="close">
    <%= link_to "X", world_path(@review.task.world), class: "close" %>
  </p>
  <div class="end-card">
    <h4 class="bttn-message">Recipe completed!</h4>
      <div class="complete-btn">
        <%= simple_form_for @review, data: { turbo: false } do |f| %>
          <%= f.input :feedback, label: "Review your dish:"  %>
          <%= f.input :photo, as: :file, label: "Upload a picture:"  %>
          <%= f.submit "Share it!", class: "button" %>
        <% end %>
      </div>
  </div>
    <div class="image-container">
      <%= image_tag "chef_egg.svg", class: "chef-image" %>
    </div>
</div>
</div>
