<% @reviews.each do |r| %>
  <div class="review-container">
    <div class="review-card">
      <% if r.photo.attached? %>
        <div class="review-image">
          <%= cl_image_tag r.photo.key, crop: :fill %>
          <div class="like-overlay">
            <%= link_to like_path(review_id: r.id), method: :post, class: "like-button", data: { turbo: false } do %>
              <i class="fa fa-heart"></i>
            <% end %>
            <p><%= r.rating %></p>
          </div>
        </div>
      <% else %>
        <div class="review-image">
          <%= image_tag "plate.png", crop: :fill %>
          <div class="like-overlay">
            <%= link_to like_path(review_id: r.id), method: :post, class: "like-button", data: { turbo: false } do %>
              <i class="fa fa-heart"></i>
            <% end %>
            <p><%= r.rating %></p>
          </div>
        </div>
      <% end %>


      <div class="review-feedback-box">
        <i class="fa fa-comment"></i>
        <p class="review-feedback"><%= r.feedback %></p> 
      </div>
    </div>
  </div>
<% end %>
