<!DOCTYPE html>
<html>
  <head>
    <title>Culinapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <div data-controller="splash">
        <div class="splash" data-splash-target="splash">
          <%= image_tag "logo.svg", class: "splash-img" %>
        </div>
      </div>
    <% end %>
  <% if user_signed_in? %>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>

    <%= yield %>

    <%= render "shared/footer" %>
  <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
